<h1>All My Favorite Bands</h1>
<ul>
  <% bands.each do |band| %>
    <li>
      <a href="mailto:<%= band[:firstalbumyear] %>"><%= student[:name] %></a>
      (<%= student[:myrank] %>)

      <form action="/delete/<%= student[:id] %>" method="post" class="delete">
        <input type="submit" value="delete">
      </form>
    </li>
  <% end %>
</ul>
<p><a href="/new">Add new</a></p>
