<h1>All My Favorite Bands</h1>
<ul>
  <% bands.each do |band| %>
    <li>
      <%= band[:name] %>
      (<%= band[:myrank] %>)
      <%= band[:firstalbumyear] %>
      <form action="/delete/<%= band[:id] %>" method="post" class="delete">
        <input type="submit" value="delete">
      </form>
    </li>
  <% end %>
</ul>
<p><a href="/new">Add New Band</a></p>
