<h1>Band Entry</h1>
<form action="/create" method="post">
  <p>
    <label>
      Name
      <input type="text" name="name">
    </label>
  </p>
  <p>
    <label>
      First Album Year
      <input type="text" name="year">
    </label>
  </p>
  <p>
    <label>
      Ranking
      <input type="text" name="rank">
    </label>
  </p>
  <p>
    <input type="submit" value="Save">
  </p>
</form>
